/* Add your CSS to this file */
body{
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

header div{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background-color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
}

header .container a:hover{
    color: #5A67D8;
}

a,li{
    color: #6b7280;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
}

.overview-hero .container{
    display: flex;
    background-color:#E2E8F0;
    align-items: center;
    width: 100%;
}

.overview-hero-image img{
    width: 55%;
    padding-left: 30%;
    padding-bottom: 7%;
}

.overview-hero-text{
    padding-right: 10%; 
}

.learn-about .container{
    padding-bottom: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.learn-about .container h2{
    font-size: 24px;
    color: #48BB78;
}

.cards{
    display: flex;
}

.card{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2.5px solid #E2E8F0;
    border-radius: 5px;
    margin: 10px;
    flex: 30%;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-body{
    padding: 2px 16px;
}

.card img{
    width: 100%;
}

.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

.testing .container{
    display: flex;
    align-items: center;
    background-color: #4A5568;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 80%;
}

.testing-desciption{
    width: 60%;
}

.cta{
    padding-left: 10%;
    width: 20%;
}

.cta a{
    background-color: #48BB78;
    border-radius: 5px;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.stories .container article{
    display: flex;
    width: 80%;
    padding-left: 9%;
    padding-bottom: 5%;
    padding-top: 1%;
}

.stories .container div{
    padding-left: 5%;
    width: 68%;
}

.stories .container h2{
    color: #5A67D8;
    padding-left: 10%;
    padding-top: 3%;
}

.stories .container a{
    color: #5A67D8;
}

article img{
    border-radius: 50%;
    width: 23%;
}

.stories .container h3{
    font-size: 18px;
}

.newsletter .container{
    background-color: #48BB78;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.newsletter h3{
    text-align: center;
}

form{
    display: flex;
    justify-content: space-between;
}

input{
    padding: 20px;
    border-radius: 5px;
    border: hidden;
    width: 150%
}

button{
    background-color: #5A67D8;
    color: white; 
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    border: hidden;
}

footer{
    background-color: #4A5568;
    color: white;
    padding: 2%;
    padding-left: 10%;
}